@charset "utf-8";

/* HTML elements  */		

	h1, h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:0;
		line-height:1em;
		}	
	h1{font-size:2em;margin-bottom:.5em;}	
	h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;}	
	h3{font-size:1.5em;margin-bottom:.7em;padding-top:.3em;}
	h4{font-size:1.25em;margin-bottom:.6em;}
	h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}
	
	p, blockquote, ul, ol, dl, form, table, pre{line-height:inherit;margin:0 0 1.5em 0;}
	ul, ol, dl{padding:0;}
	ul ul, ul ol, ol ol, ol ul, dd{margin:0;}
	li{margin:0 0 0 2em;padding:0;display:list-item;list-style-position:outside;}	
	blockquote, dd{padding:0 0 0 2em;}
	pre, code, samp, kbd, var{font:100% mono-space,monospace;}
	pre{overflow:auto;}
	abbr, acronym{
		text-transform:uppercase;
		border-bottom:1px dotted #000;
		letter-spacing:1px;
		}
	abbr[title], acronym[title]{cursor:help;}
	small{font-size:.9em;}
	sup, sub{font-size:.8em;}
	em, cite, q{font-style:italic;}
	img{border:none;}			
	hr{display:none;}	
	table{width:100%;border-collapse:collapse;}
	th,caption{text-align:left;}
	form div{margin:.5em 0;clear:both;}
	label{display:block;}
	fieldset{margin:0;padding:0;border:none;}
	legend{font-weight:bold;}
	/*input[type="radio"],input[type="checkbox"], .radio, .checkbox{margin:0 .25em 0 0;}*/

/* //  HTML elements */	

/* common */		
	
	.left{float:left;margin-right:1em;}
	.right{float:right;margin-left:1em;}
	.center{text-align:center;}
	
	.clear{clear:both;}
	.first{margin-left:0 !important;}
	.last{margin-right:0 !important;}
	.top{margin-top:0 !important;}
	.bottom{margin-bottom:0 !important;}	
	.hidden, .print{display:none;}
	.graphic{
		margin:0;
		padding:0;
		display:block;
		overflow:hidden;
		text-indent:-8000px;
		}

/* // common */			

/* base */
body , html {	height: 100%;}
#wrap {	width: 100%;	position: relative;	height: auto !important;	height: 100%;	min-height: 100%;}
	body, table, input, textarea, select, li, button{
		font:1em Helvetica, Arial, Sans-Serif;
	line-height: 1.6em;
			color:#333;
		}		
	body{
		font-size:13px;
		background:#fff;
		margin:0;
		padding:0;
		/*text-align:center;*/
		}
a {color: #333;text-decoration: underline;}

	a:hover{color:#999;}
	ins{text-decoration:none;color:#900;font-style:italic;}
	code{color:#555;}
	pre{
		margin-left:2em;
		padding-left:2em;
		border-left:1px solid #ccc;
		}
	blockquote{
		margin-left:2em;
		border-left:1px solid #ccc;
		font-style:italic;
		}	
	dt{font-weight:bold;}
	th, td{padding:.5em 1em;line-height:1.5em;}		
	th{background:#eee;}
	td{border-bottom:1px solid #eee;}
	caption{font-style:italic;color:#777;margin:.5em 0;}	
	fieldset{
		border:1px solid #ccc;
		padding:1em 2em;
		margin:0 0 1.5em 0;
		}
	legend{padding:2px 5px;}	
	form div.col{clear:none;}form div.first{clear:both;}
	form div{overflow:hidden;}
	
	input[type="text"], input[type="password"], textarea, .field, .area, select{
		border:1px solid #aaa;
		padding:5px;
		background:#fff;
		width:300px;
		line-height:1em;
		margin:0;
		}
	select{width:312px;}
	textarea, .area{overflow:auto; height:150px; width:400px;}
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, .focus{background:#f5f5f5;outline:none;}
	.submit{}
	button{
		border:none;
		background:#555;
		color:#fff;
		padding:0 2.5em;
		height:2em;
		line-height:2em;
		cursor:pointer;
		}
		
	.note, .success, .error{display:block;}
	.error{color:#900;}
	.success{color:#060;}
	.note{font-weight:bold;}
	.notvalid{border:1px solid #900 !important;}
	
	.pullquote{
		width:20%;
		float:left;
		margin-right:2em;
		padding-right:2em;
		border-right:1px solid #ccc;
		text-align:right;
		font-size:1.1em;
		font-style:italic;
		color:#777;
		margin-bottom:.5em;
		}
	.boxout{
		width:20%;
		float:right;
		margin-left:2em;
		padding:1em 2em;
		border:1px solid #ccc;
		margin-bottom:.5em;
		}
	#easy_tooltip{
		border:1px solid #e1e1e1;
		padding:2px 10px;
		background:#f5f5f5;
		}

/* base */

/* layout */

	#container,.container{	
		margin:0 auto;
		width:960px;
		text-align:left;
		position:relative;
		}
		.top_border {
			border-top: 1px solid #E5E5E5;
			margin:60px 0 0;
		}
		.pre_footer {
			padding-bottom: 90px;
			}
		.shop_footer {
			padding-bottom: 30px;
			}
		.page_bottom{
			position: absolute;
			bottom: -20px;
			width: 100%;
			margin:40px 0 0;
			background: #000;
			padding: 20px 0;
		}


		
	.inner{
		position:relative;
		}
	#header{
		position:relative;
		}
	#headernavi{
		height: 42px;background: #000;width:100%;
		}
	#headertop {
		margin:0 auto;
		width:960px;
	}
	#headernavi ul{
		margin:0;
		text-align:left;
		}
	#headernavi ul li {
				position:relative;  

		float: left;
		text-indent: -9999px;
		list-style-type: none;
		margin:12px 20px 0 0;
		}
	#headernavi ul li a{
			display:block;
			height: 16px;
		}
	#headernavi ul li span{
			display: block; 
			height: 16px;
			position:absolute;  
			background-position: 0 -16px;
			top:0px;
			background-repeat: no-repeat;
		}

		#top{
			background-image: url(../image/top.gif);
			background-repeat: no-repeat;
			width: 67px;
			}
		#top:hover{
			background-image: url(../image/top.gif);
			background-repeat: no-repeat;
			width: 67px;
			background-position: 0 -16px;
			}
		#top span.hover { /*notice the different class: span.hover*/  
			background-image: url(../image/top.gif);
			width: 67px;
			}

					
		#about {
			background-image: url(../image/about.gif);
			background-repeat: no-repeat;
			width: 195px;
			}
		#about:hover{
			background-image: url(../image/about.gif);
			background-repeat: no-repeat;
			width: 195px;
			background-position: 0 -16px;
			}
		#about span.hover { 
			background-image: url(../image/about.gif);
			width: 195px;
						}
		#sitemap {
			background-image: url(../image/sitemap.gif);
			background-repeat: no-repeat;
			width: 103px;
			}
		#sitemap:hover{
			background-image: url(../image/sitemap.gif);
			background-repeat: no-repeat;
			background-position: 0 -16px;
			width: 103px;
			}
		#sitemap span.hover { 
			background-image: url(../image/sitemap.gif);
			width: 103px;
			}
		#contact {
			background-image: url(../image/contact.gif);
			background-repeat: no-repeat;
			width: 111px;
			}
		#contact:hover{
			background-image: url(../image/contact.gif);
			background-repeat: no-repeat;
			width: 111px;
			background-position: 0 -16px;
			}
		#contact span.hover { 
			background-image: url(../image/contact.gif);
			width: 111px;
			}
		#rss {
			background-image: url(../image/rss.gif);
			background-repeat: no-repeat;
			width: 103px;
			}
		#rss:hover{
			background-image: url(../image/rss.gif);
			background-repeat: no-repeat;
			width: 103px;
			background-position: 0 -16px;
			}
		#rss span.hover { 
			background-image: url(../image/rss.gif);
			width: 103px;
			}
		#shopping {
			background-image: url(../image/shopping.gif);
			background-repeat: no-repeat;
			width: 103px;
			}
		#shopping:hover{
			background-image: url(../image/shopping.gif);
			background-repeat: no-repeat;
			width: 103px;
			background-position: 0 -16px;
			}
		#shopping span.hover { 
			background-image: url(../image/shopping.gif);
			width: 103px;
			}
	#logogroup h1{
		text-align:center;
		margin:90px auto 60px;	
	}
	#logogroup h2{
		font-size: 12px;
	}
	.content{
		clear:both;
		padding:1em 0;
		}
	.main, .secondary, .tertiary, .quaternary{
		float:left;
		display:inline;
		}
	.main{width:600px;}
	.secondary{width:280px;margin-left:40px;}
	.tertiary{}
	.quaternary{}
	
	/* grid */
		
		.col{
			float:left;
			display:inline;
			}	
		
		/* use following classes to build custom grid (add as many as you want) */
		
		.col1, .col2, .col3,.col4{float:left;margin:0 40px 0 0;}
		.col1{}
		#top_col2{margin:60px -20px 0 0;}
		#view_col2{margin:60px -40px 0 0;}
		.col2{width:460px;}
		.col3{}
		#menu_col4{margin:40px -40px 0 0;}
		.col4{width:210px;}
		.col4_next_fb{width:170px;float:left;margin:0 40px 0 0;}
		.col4_fb{width:250px;float:left;margin:-10px 0 0 0;}		
		.col2:nth-child(2n),.col3:last-child,.col4:nth-child(4n){margin:0 0px 0 0;}
		.shoppingBox{
		width:100%;
		display:block;
		margin0;
		}
		h2.shoptitle{
		width:960px;
		display:block;
		margin:20px 0;
		height:20px;
		}
		.col5{
		width: 174px;
		height:298px;
		border: 1px solid #FFF;
		border-radius: 3px;		/* CSS3���� */
		-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
		-moz-border-radius: 3px;	/* Firefox�p */
		margin:40px 20px 0 0;
		float:left;
		}
		.col5 ul{
		list-style:none;
		position:relative;
		}
		.col5 ul li{
    	font-size: 12px;
		margin:0px;
		padding:0px;
		display:block;
		}
		.col5 .price{
		text-align:center;
		}
		.col5 li.image{
		padding:13px 0 0 0;
		margin:0 auto 20px;
		width:149px;
		height:149px;
		text-align:center;
		}
		.col5 li.image_large{
		position:absolute;
		dislapy:block;
		width:25px;
		height:25px;
		right: 10px;
	    top: 149px;
		/*background: url("../image/large.gif") repeat scroll 0 0 #FFFFFF;*/
		z-index:2000;
		visibility: hidden;
		}
		/*.col5 li.image_large:hover{
		background: url("../image/large.gif") repeat scroll 0 -25px #000;
		}*/
		.col5 .price,.col5 .title{
		margin:0 0 10px;
		padding:0 5px;
		}
		.col5 .shop,.col5_shop_ranking .shop{
	    color: #868783;
		font-size:12px;
		margin:0px;
		padding:0 5px 0 0;
		text-align:right;
		}		

		.col5:nth-child(5n){
		margin:40px -2px 0 0;
		}
		#top_col4{margin:30px -20px 0 0;}
		.col2topbox{float:left;margin:0 20px 0 0;}
		.col4topbox{float:left;margin:0 20px 0 0;}
		.col2topbox img{margin:20px 0 0 0;}
		.col4topbox img{margin:20px 0 0 0;}
		.col2topbox{width:468px;	border: 1px solid #FFF;			border-radius: 3px;		/* CSS3���� */
			-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
			-moz-border-radius: 3px;	/* Firefox�p */
}
		.col4topbox{width:223px;	border: 1px solid #FFF;			border-radius: 3px;		/* CSS3���� */
			-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
			-moz-border-radius: 3px;	/* Firefox�p */
}
		.col2topbox:last-child{margin:0 -38px 0 0;}
		.col4topbox:last-child{margin:0 -38px 0 0;}
		.image_large{
			position: relative;
			width:460px;
			text-align:center;margin:auto;
		}
		.newitem .imgroute{
			right:-5px;
			top:-10px;
			position:absolute;
			z-index:100;
		}
		.newitem span , .matome{
			margin:0;
			padding:0;
			right:-5px;
			top:-10px;
			position:absolute;
			z-index:200;
		}
		
		.image_thumb{
			position: relative;
			width:210px;
			text-align:center;margin:auto;
		}
		.col2topbox h2,.col4topbox h2{
			padding:0 7px 0;
			margin:10px 0;
			font-size:14px;
			line-height: 1.5em;
				}
		.col4topbox h2 a{
			text-decoration: none;
		}
		.col2topbox  p.time,.col4topbox  p.time, li.time{
			margin:0 0 20px;
			padding:0 7px 0;
			font-size:12px;
			text-align:right;
			color: #868783;
		}
		.margin20{
			margin:30px 0 0;
		}
		.hoverblock{
			background-color:#FAFAFA;
			border: 1px solid #E5E5E5;
			border-radius: 3px;		/* CSS3���� */
			-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
			-moz-border-radius: 3px;	/* Firefox�p */

		}
		.indent1{}
		.indent2{}
		.indent3{}
		
		.colortagcloud{display:block;}
		
		
	/* grid */	
.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}  
  
.clearfix { display: inline-table; }  
  
/* Hides from IE-mac \*/  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }  
/* End hide from IE-mac */  
  /* // layout */

/* navigation */
	
		#nav, #nav ul, #nav li{
			margin:0;
			padding:0;
			list-style:none;
			}	
		#nav li{
			float:left;
			display:inline;
			position:relative;
			line-height:32px;
			height:32px;
			margin-right:2em;
			}	
			
		#nav ul{
			position:absolute;
			left:0;
			top:32px;
			padding:5px 10px;
			width:200px;	
			background:#fff;
			display:none;
			z-index:1000;
			}
		#nav ul li{
			float:none;
			display:block;
			}
		
/* //navigation */

/* header */

	#header h1{
		line-height:50px;
		height:50px;
		margin:0;
		}
	#header h1 a{		
		}		

/* // header */
	
/* content */

	.content a, .content a:visited{
		text-decoration:underline;
		}
	
/* // content */

/* footer */
	
	#footer{
		font-size:12px;
		position:relative;
		clear:both;
		color: #fff;
		}
	#footer a{
	color:#fff;
	text-decoration: none;
	}	
	#footer a:hover{
	color:#666;
	text-style:none;
	}	
		#footer ul{
		margin:0;
		padding:0;
		list-style:none;
			}		
		#footer ul li{
		margin:0 20px 0 0;
		padding:0;
		color: #fff;
		float:left;
			}		
		#footer p{
				margin:0;
		padding:0;

		text-align:right;
		}
/* // footer */

/*top page*/
p.view_time{
	margin:20px 0 0;
	font-size:12px;
	text-align:right;
	color: #868783;
	padding:0;
}
/*
#top_col2 h2,#top_col4 h2{
	margin:15px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	}
*/
#top_col2 .item_title,#view_col2 .item_title{
	margin:0;
}

/*bottom menu*/



/*pagenate*/
.pagenate{
	margin:60px 0 0px;
	width:960px;
	min-height:25px;
	text-align: center;
}
		
.pagelink,.pagenate span a, .pagenate .current {
	margin:0 0 0 30px; 
    border-radius: 20px 20px 20px 20px;
    padding: 5px 9px;
    text-decoration: none;
}		
.pagenate .current {
	background: none repeat scroll 0 0 #ebebeb;
}
.pagelink,.pagenate span a {
    background: none repeat scroll 0 0 #000;
    font-weight: bold;
	color:#FFFFFF;
}
.pagelink:hover,.pagenate span a:hover{
	color:#FFF;
	background: none repeat scroll 0 0 #808080;
}
		
.pagenate .next{
	float:right;
	text-align:right;
	border:none;
    background: none;
}
.pagenate .top_archive_right{
	float:right;
	text-align:right;
	background-image: url(../image/right_arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	height: 23px;
	padding:5px 23px 0 0; 
}
.pagenate .top_archive_left{
	float:left;
	text-align:left;
	background-image: url(../image/left_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;
	padding:5px 0 0 23px; 
}
a.top_archive_right_img,a.top_archive_left_img{    text-decoration: none;}
.pagenate .top_archive_right_img{
	float:right;
	text-align:right;
	padding:0 0 0 0; 
}
.pagenate .top_archive_left_img{
	float:left;
	text-align:left;
	padding:0 0 0 0; 
}
.pagenate a:hover img{opacity:0.5;filter:alpha(opacity=50);-ms-filter: "alpha( opacity=50 )"}

.pagenate .top_archive_right_img img{
	vertical-align: middle;
	padding:0 0 0 10px; 
}
.pagenate .top_archive_left_img img{
	vertical-align: middle;
	padding:0 10px 0 0; 
}

.pagenate .prev{
	float:left;
	text-align:left;
	border:none;
    background: none;
}
/*item*/
.item_small_img{
	margin:20px -14.6px 0 0;
	list-style:none;
}
.item_small_img li{
	float:left;
	margin:0 14.6px 0 0;
}
.item_small_img li:nth-child(4n){
	margin:0 0 0 0;
}
h2.item_title{
	font-size:18px;
	font-weight:bold;
}
.item_text{
	margin:30px 0;
}
dl.extramode dt{
	width:150px;
    background: 0 url(../image/line.gif) no-repeat scroll;
	margin:0;
	padding:0;
	line-height:2em;
}
dl.extramode dt em{
	padding:0 5px 0 0;
	background: none repeat scroll 0 0 #FFFFFF;
}
dl.extramode dd {
	margin: -1.6em 0 0 155px;
	padding:0;

}
#socialbutton{
	height:60px;
	width:100%;
    background-color: #f0f0f0;
	border-radius: 3px;		/* CSS3���� */
	-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
	-moz-border-radius: 3px;	/* Firefox�p */
    margin-top: 40px;
	text-align:center;
	line-height:70px;
}
a.item_button{
    background: none repeat scroll 0 0 #BF0000;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
    line-height: 2;
}
a:hover.item_button{
    background: none repeat scroll 0 0 #cf4b4b;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 2;}

/* search form */
#search-form {
    float: right;
    margin: 7px 0 0;
    position: relative;
}
#search-form #search-query {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid black;
    border-radius: 4px 4px 4px 4px;
    color: #CCCCCC;
    font: 13px Arial,sans-serif;
    /*padding: 6px 25px 4px 6px;*/
    width: 140px;
}
#search-form #search-query:hover {
    background: none repeat scroll 0 0 #777;
}
#search-form .glass {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0;
	padding: 5px;
	height: 18px;
	width: 17px;
	overflow: hidden;
	text-indent: -9999px;
}
#search-form #search-query:focus, #search-form #search-query.focused {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 3px #000000;
    color: #333333;
}
#radiocheck{
	position: absolute;
	width: 120px;
	display:block;
	background: none repeat scroll 0 0 #EEEEEE;
	margin-top:0px;
	margin-left:10px;
	border-radius: 0 0 4px 4px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
    -webkit-border-bottom-right-radius: 4px;  
    -webkit-border-bottom-left-radius: 4px;  
    -moz-border-radius-bottomright: 4px;  
    -moz-border-radius-bottomleft: 4px;
	display:none;
/*visibility: hidden;*/
}
#radiocheck input{
	float:left;
}
#radiocheck label{
	display:block;
	font-size:13px;
	float:left;
}


/* clearfix */

	.inner:after, .content:after, .cols:after, .fixed:after{
		content:"."; 
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;
		}
	.inner, .content, .cols, .fixed{display:block;min-height:1%;}
	* html .inner, * html .content, * html .cols, * html .fixed{height:1%;}

/* // clearfix */

/*a:hover img { opacity:0.8;filter:alpha(opacity=80);-ms-filter: "alpha( opacity=80 )"}
.img_hover { opacity:0.8;filter:alpha(opacity=80);-ms-filter: "alpha( opacity=80 )"}*/
.image_large{

	width:460px;
	text-align:center;
}.big_image{
	height:460px;
	width:460px;
	text-align:center;
	background-repeat: no-repeat;
	background-position: center center;
}
.image_thumb{
	width:210px;
	text-align:center;
}
#itemjson{

}
/*#itemjson:hover{
    background: none repeat scroll 0 0 #808080;
	border: 1px solid #E5E5E5;
}*/
#itemjson a{
	width:100%;
	height:40px; 
	line-height:40px;
	text-align:center;
	display:block;
	background: none repeat scroll 0 0 #000;
	margin:60px 0 0;
	border: 1px solid #E5E5E5;
	color: #FFF;
    font-size: 14px;
    font-weight: bold;
	text-decoration: none;
}
a:hover.item_button{
    background: none repeat scroll 0 0 #cf4b4b;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 2;}

#itemjson a:hover{
color: #FFF;text-decoration: none;
    background: none repeat scroll 0 0 #808080;

}
.hover{color:#999;}
.shopboxbg{
	background-color:#FAFAFA;
	border: 1px solid #E5E5E5;
	}
#loading{
	width:100%;
	height:150px;
	display:block;
	text-align:center;
	line-height:170px;
}
#fileupload form{
margin: 20px 0 0;
}
#fileupload form div{
    margin: 0;
}
.checkbox{
    margin: 10px 0 0;
	padding:0;
}
.checkbox input{
float:left;
padding:5px 3px 0 0;
}
.checkbox label{
}
.adminTop{
margin:30px 0 0;
    width: 960px;}

/*�{�g�����j���[*/
h3.menuBottomTitle{
	font-size:16px;
	margin:0 0 15px;
	font-weight:bold;
	color:#a1a1a1;
	}
h3.menuBottomTitle span{
	padding:0 0 0 18px;
	background-image: url(../image/listbutton2.gif);
	background-repeat: no-repeat;
	display:block;
	height:16px;
}
h3.menuBottomTitle span.hover{
	padding:0 0 0 18px;
	background-image: url(../image/listbutton2.gif);
	background-position: 0 -16px;
	background-repeat: no-repeat;
	display:block;
	height:16px;
}
	
.B_menu_category li,.B_menu_tagcloud li, .B_menu_colorcloud li,.B_menu_archive li {
	margin:0 0 5px 20px;
	padding:0;
	list-style-type: none;
}
.B_menu_category li a,.B_menu_tagcloud li a, .B_menu_colorcloud li a,.B_menu_archive li a {
	color:#a1a1a1;
	text-decoration: none;
	width:100%;
	display:block;
	}
.B_menu_category li a:hover,.B_menu_tagcloud li a:hover, .B_menu_colorcloud li a:hover,.B_menu_archive li a:hover {
	color:#a1a1a1;
	text-decoration: underline;
}
#relatedBox{
	margin:60px 0 0;
}
.relatedTitle{
    font-size: 18px;
    font-weight: bold;
	margin:0 0 30px;}
h2.title_rakuten{
		width:960px;
		display:block;
		margin:30px 0 0;
		padding:0;
		}
h2.title_yahoo{
		width:960px;
		display:block;
		margin:60px 0 0;
		padding:0;
		}

p.total {
text-align:right;
margin:0;
padding:0 30px 0 0;
}
p.message{
margin:60px 0 0 0;
}
p.price_button{
padding:0;
margin:0 0 30px;
}

/**/
#top_button{
margin:0 auto;
width:960px;
position:static;
text-align:right;
}
#back-top {
	margin:0;
	padding:0;
	position:fixed;
	bottom: 60px;

}
#back-top img{
	vertical-align: middle;
	margin:0 10px 0 0;
}
#back-top a {
	display: block;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
    margin: 0 0 0 980px;
		/* 
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;*/
}
#back-top a:hover img{
	opacity:0.5;filter:alpha(opacity=50);-ms-filter: "alpha( opacity=50 )"

}

/*
#back-top a:hover {
	color: #000;
}*/
#col2-bottom{
	float:left;
	width:450px;
	margin:0 10px;
}
#about-box{
	height:100%;
	display:block;
}
#about-image-box{
margin:0 10px 10px 0;
width:120px;
	height:100%;
	float:left;
	display:block;
}
#abount-text-box{
	text-align:left;
	height:100%;
	width:310px;
	float:right;
	diplay:block
}
#bottom_icon{
	list-style:none;
}
#bottom_icon li{
	margin:0 0 15px 20px;
}
#bottom_icon li a{
    text-decoration: none;
	}
#bottom_icon li a span{
    text-decoration: none;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    padding: 0 0 0 18px;
    line-height: 16px;
	background-position: 0 -16px;
	}
#bottom_icon_twitter a span{
	background-image: url(../img/bottom_icon_twitter.gif);
}
#bottom_icon_mixi a span{
	background-image: url(../img/bottom_icon_mixi.gif);
}
#bottom_icon_facebook a span{
	background-image: url(../img/bottom_icon_facebook.gif);
}
#bottom_icon_google a span{
	background-image: url(../img/bottom_icon_google.gif);
}
#bottom_icon_pinterest a span{
	background-image: url(../img/bottom_icon_pinterest.gif);
}
#bottom_icon_tumblr a span{
	background-image: url(../img/bottom_icon_tumblr.gif);
}
#bottom_icon_sumally a span{
	background-image: url(../img/bottom_icon_sumally.gif);
}
#bottom_icon_matome a span{
	background-image: url(../img/bottom_icon_naver_matome.gif);
}
#bottom_icon li a span:hover{	background-position: 0 0px;}
/*Ranking 		$(".col5_ranking").autoHeight({column:5});*/
h3.ranking_title{
	margin:40px 0 0;
	font-weight:bold;
}
		.col5_ranking,.col5_shop_ranking,.col5_ranking_recommend{
		width: 174px;
		height:100%;
		border: 1px solid #FFF;
		border-radius: 3px;		/* CSS3���� */
		-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
		-moz-border-radius: 3px;	/* Firefox�p */
		margin:40px 20px 0 0;
		float:left;
		}
		.col5_ranking ul,.col5_shop_ranking ul, .col5_ranking_recommend ul{
		list-style:none;
		position:relative;
		}
		.col5_ranking ul li,.col5_shop_ranking ul li ,.col5_ranking_recommend ul li{
    	font-size: 12px;
		margin:0px;
		padding:0px;
		display:block;
		}
		.col5_ranking .price,.col5_ranking_recommend .price{
		text-align:center;
		}
		.col5_shop_ranking .price,.col5_ranking_recommend .price{
		text-align:center;
		margin:0 auto 7px;
		}
		.col5_ranking li.image,.col5_ranking_recommend li.image{
		padding:13px 0 0 0;
		margin:0 auto 20px;
		/*width:149px;
		height:149px;*/
		text-align:center;
		}
		.col5_shop_ranking li.image{
		padding:13px 0 0 0;
		margin:0 auto 20px;
		width:149px;
		height:149px;
		text-align:center;		}
		.col5_ranking .title,.col5_shop_ranking .title , .col5_ranking_recommend .title{
		margin:0 0 10px;
		padding:0 5px;
		}
		.col5_ranking:nth-child(5n),.col5_shop_ranking:nth-child(5n),.col5_ranking_recommend:nth-child(5n){
		margin:40px -2px 0 0;
		}
		.col5_ranking.hoverblock,.col5_shop_ranking.hoverblock, .col5_ranking_recommend.hoverblock{
			background-color:#FAFAFA;
			border: 1px solid #E5E5E5;
			border-radius: 3px;		/* CSS3���� */
			-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
			-moz-border-radius: 3px;	/* Firefox�p */			
		}
		.ranking_soldout{
			right:13px;
			top:12px;
			position:absolute;
			z-index:110;
			width:149px;
			height:149px;
			display:block;
			background-color:black;
			opacity:0.7;	/*Firefox, Opera, Chrome, Safari*/
			filter: alpha(opacity=70);	/*IE8以下*/			
		}
		.ranking_rank{
			right:-5px;
			top:-10px;
			position:absolute;
			z-index:150;
		}
		.ranking_rank{
			top:10px\9;
		}
		p.rank_date{
			text-align:right;
			margin:0;
			
		}		
		.margin10{
			margin:10px 0 0;
		}
		.ranking_menu{
			margin: 60px 0 40px -25px;
		}
		.ranking_menu li{
			list-style:none;
			float:left;
		}
		.ranking_menu li.menu_button a{
			background-color:#000000;
			padding:10px;
			color:#FFFFFF;
			text-decoration: none;
			border-radius: 3px;		/* CSS3���� */
			-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
			-moz-border-radius: 3px;	/* Firefox�p */				
		}
		.ranking_menu li.menu_button a:hover{
			background-color:#808080;
		}
		.ranking_menu li.menu_button_on a{
			background-color:#808080;
			padding:10px;
			color:#FFFFFF;
			text-decoration: none;
			border-radius: 3px;		/* CSS3���� */
			-webkit-border-radius: 3px;	/* Safari,Google Chrome�p */
			-moz-border-radius: 3px;	/* Firefox�p */				
		}
		.ranking_menu_on li.menu_button_on a:hover{
			background-color:#808080;
		}
		.adsense {
			display: inline-block;
			margin: 30px 0 0 -3px;
			padding: 0;
			text-align:left;
		}
		.adt{	
			text-align:left;
		}
		.rakutenad {
			display: block;
			height:160px !important;
			margin: 30px 0 0 -3px;
			padding: 0;
			overflow: hidden;
		}		

		/*IE8*/
		html>/**/body .newitem span { top/*\**/: -30px\9; }	
		html>/**/body .page_bottom { margin/*\**/: 80px 0 0\9; }	
		/*IE9,10*/
		.newitem span:nth-of-type(1n) { top: -10px\9; }
		.page_bottom:nth-of-type(1n) {  margin: 80px 0 0\9; }
		/****/
.review {
	max-width:960px;
	width: auto;
}
.margin27{
	margin:0 0 27px 0;
}

/*Facebook (view)*/
.fb_iframe_widget > span,  x:-moz-any-link  {
  vertical-align: baseline !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.fb_iframe_widget > span  {
  vertical-align: baseline !important;
}
}

@media screen and (max-device-width: 480px) {
	.fb_iframe_widget > span  {
  vertical-align: top !important;
}
.prevent-copy {
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-drag:none;
-khtml-user-drag:none;	
}