li {
	list-style: none;
}

.header {
	height:65px; 
	width:1265px;
	background-color: black;
	border-bottom: 1px solid #dddddd;
}

.header-left {
	font-family: ;
	font-size: 30px;
	color: #696969;
	float: left;
	padding: 10px 60px 10px 60px;
}

.header-right {
	color: #696969;
	float: right;
}

.header-right li{
	float: left;
	/*border-left: 1px solid #DDDDDD;*/
	padding: 20px 30px 20px 30px;
}

.main {
	font-family: fantasy;
	height:800px;
	width:1265px;
	background-color:#f8f8ff;
}
.photo {
	background-image: 
}

.sidebar {
   height:740px;
   width:200px;
   background-color: #c0c0c0;
   float: left;
   padding: 30px 30px 30px 0px;
}

.sidebar li {
   color: #696969;
   background-color: #f8f8ff;
   padding: 15px 15px 15px 15px;
   margin-bottom: 10px;
}

.contents {
	height:600px;
	width:900px;
	padding: 30px;
	background-color:;
	float:left;

}
/*.contents-photo {
	height: 300px;
	width: 300px;
	background-position-y:50px; 
	background-size: cover;
	background-image: url(../images/photo.jpeg);
}*/

.contents-top {
	height: 300px;
}

.contents-top h1 {
	margin-bottom: 30px;
}

.contents-top-item {
	color: #696969;
  width:385px;
  padding: 30px;
	float: left;
}

.contents-top-item h2{
	margin-bottom: 10px;
}

.contents-bottom {
	color: ;
	height: ;
	width: ;
	padding: ;
}

.footer {
	height: 65px;
	width: 1265px;
	background-color: black;
	clear: left;
}

